<!DOCTYPE html>
{% extends "layout.html" %}
{% block body %}
<!--<div class="welcome">
    <div class="imgButton"><p> <a href="/home"> <img src="static/imageButton.png"> </a> </p></div>
</div>-->
<div class="back">
    <div class="type"><p id="type">You've just crossed over to RodBot....</p></div>
    <div class="uuser">What is RodBot?</div>
    <div class="guy">I'm a story narrator and a fun guy who loves to spread joy and information through news articles. You can ask me to "tell you something funny" and I'll provide you with some funny news.</div>
    <div class="ready">Click when you're ready to talk to me some more!!</div>
    <div class="button">
        <div class="imgButton"><p> <a href="/home"> <img src="static/imageButton.png"> </a> </p></div>
    </div>
</div>


{% endblock %}